<div class="image_element">
	<%if up%>
		<%if !image_element.blurred_image.path.blank?%>
			<%=image_tag(image_element.blurred_image.url(:original), :style => 'max-height:100%; max-width:100%; display:block',
					:value => "edit_image", :data_id => image_element.id, :operation => "up")%>
		<%else%>
			<%=image_tag(image_element.original_image.url(:original), :style => 'max-height:100%; max-width:100%; display:block',
					:value => "edit_image", :data_id => image_element.id, :operation => "up")%>
		<%end%>
	<%else%>
		<%if !image_element.blurred_image.path.blank?%>
			<%=image_tag(image_element.blurred_image.url(:original), :style => 'max-height:100%; max-width:100%; display:block',
					:value => "edit_image", :data_id => image_element.id, :operation => "down")%>
		<%else%>
			<%=image_tag(image_element.original_image.url(:original), :style => 'max-height:100%; max-width:100%; display:block',
					:value => "edit_image", :data_id => image_element.id, :operation => "down")%>
		<%end%>
	<%end%>
	<label>
		<%=check_box_tag image_element.id, image_element.id, checked = false, :class => "check_box_evidences_download"%>
		 Selecciona
	</label>
</div>

