<%
=begin
		######################################################################################
		#  PRIMERA PARTE DEL FORM, DONDE APARECE LA MISMA ESTRUCTURA Y LOS MISMO CAMPOS QUE  #
		#  SON COMUNES A TODOS LOS ELEMENTOS DE LA WEB                                       #
		######################################################################################
=end
%>
<% if defined?(valid_template) && (valid_template == false) %>
	<input type= "hidden" id="valid_template" data-info="<%= valid_template%>">
<% end %>

<% if defined?(popup) && popup %>
	<div id="content_container" class="content_show in_popup">
<% else %>
	<% if defined?(contents) && contents %>
		<div class="activity_container element_contained" id="activity_<%= form.id.to_s %>" data-position="<%= form.position %>">
			<% if defined?(positions)%>
				<% positions.index{|x| p x} %>
					<% position = positions.index{|x| x == form} %>
					<div class="activity_number">
						<span name="activity_name"><%= t("activity")+" "+(position+1).to_s%></span>
						<a name="activity_position_<%= (position+1).to_s %>" class="activity_anchor_position"><span><%= t("activity")+" "+(position+1).to_s%></span></a>
					</div>
			<% end %>
		<% if (form.source_id != nil)
	        if ((form.right_id == 5) || (form.right_id == 6)) && (Element.find(form.source_id).creator_id != form.creator_id)
	          created = false
	        end
	      end
		else %>
		<div class="settings half-open">
			<%= #render :partial => "/settings/html/settings", :object => form, :as => :element, :locals => {:created => created, :setting => 'technical_setting'}
			%>
		</div>
	<% end %>
<% end %>

<%= form_for(form, :method => "patch", :html => {:class => defined?(contents) && contents ? "edit_activity":"edit_activity"}) do |f| %>
	<% if defined?(contents) && contents %>
		<%= image_tag("/images/icons/Gray/loop3.svg", :class => created ? "sort_activities content_icon":"sort_activities invisible content_icon", :width => 18) %>
		<%= image_tag("/images/icons/Gray/close.svg", :width => 18, :class => created ? "content_icon delete_content_activity delete_element":"invisible content_icon delete_content_activity delete_element", :"data-info" => form.type.downcase.pluralize+";"+form.id.to_s) %>
		<%= image_tag("/images/icons/Gray/expand.svg", :width => 18, :class => "content_icon expand_content") %>
		<%= image_tag("/images/icons/Gray/download.svg", :width => 18, :class => created ? "top content_icon add_to_library" : "top content_icon add_to_library invisible") %>
	<% end %>
	<div id="form_header" class="small-8 columns">	
		
		<div class="description_and_image clearfix">
			<div class="inline_image left small-5 columns">				
				<% if form.image.url() != "none" %>	
					<%= image_tag form.image.url(),:crop => :scale, :width => 300, :class => "image_preview" %>
				<% else %>
					<%= image_tag '/images/picture.jpg',:crop => :scale, :width => 300, :class => 'image_preview' %>
				<% end %>
				<%= button_tag t('Remove_Image'), {:id => "remove_image", :type => "button", :disabled => created ? false:true, :class => created ?  "":"invisible"}  %>
				<%= f.file_field :image, :class => created ? "image_updateable":"image_updateable invisible"%>
				<% unless defined?(contents) && contents %>
					<div class= "privacy editable active small-6 columns">
							<div class="small-offset-3 small-2 columns">
								<span class="private_icon change_icon centradovertical <%= "public" unless form.private %>"></span>								
							</div>
							<div class="small-7 columns">
								<%= f.radio_button :private, 'true', :class => "updateable ", :disabled => created ? false:true %>
								<%= f.label :private, t("Private"),:class => "" %><br>
								<%= f.radio_button :private, 'false', :class => "updateable ", :disabled => created ? false:true %>
								<%= f.label :private, t("Public"),:class => "" %>
							</div>
						</div>
					
						<div class="abstract small-6 columns">
							<div class="small-offset-2 small-2 columns">
								<span class="abstract_icon change_icon centradovertical <%= "public" unless form.abstract %>"></span>
							</div>
							<div class="small-9 columns">
								
								<%= f.radio_button :abstract, 'true', :class => "updateable", :disabled => created ? false:true %>
								<%= f.label :abstract, t("Abstract") %><br>
								
								<%= f.radio_button :abstract, 'false', :class => "updateable", :disabled => created ? false:true %>
								<%= f.label :abstract, t("Concrete") %><br>
							</div>
						</div>
					</div>
				<% end %>
				<div>
					<%= f.fields_for :licenses, form.license do |builder| %>	
						<% if form.original_license_id.nil? %>
							<div class="copyright">
									<span><%= t("Does_the_activity_have_a_known_CC_license")%></span>
									<%= f.label :known_CC_license, t("yes") %>
									<%= f.radio_button :known_CC_license,'true', :checked => (form.right_id != 8) ? true : false, :class => "known_CC_license", :disabled => created ? false:true %>
									<%= f.label :known_CC_license,t("no") %>
									<%= f.radio_button :known_CC_license,'false', :checked => (form.right_id == 8) ? true : false, :class => "known_CC_license", :disabled => created ? false:true %>
							</div>
						<% end %>
					
						<% if form.original_license_id != 8 %>
							<div class="show_license <%"invisible" if form.right_id == 8%>">
								<div class="condition <%="invisible" if !created%>">
									<span><%=t("Waive_all_rights_and_place_work_in_the_public_domain")%>(CC0)?</span>
									<%= builder.label :license_condition, t("yes") %>
									<%= builder.radio_button :license_condition, 'true', :checked => (form.right_id == 7) ? true : false, :class => "active_condition", :disabled => created ? false:true %>
									<%= builder.label :license_condition, t("no") %>
									<%= builder.radio_button :license_condition, 'false', :checked => (form.right_id != 7) ? true : false, :class => "active_condition", :disabled => created ? false:true %>
								</div>	
								<div class="license">
									<div class="commercial <%="invisible" if !created%>">
										<span><%= t("Allow_commercial_uses") %></span>
										<%=builder.select :commercial, options_for_select([[t("no"), 0],[t("yes"),1]],[form.license.commercial ? 1 : 0]) , {}, {:disabled => created ? false:true, :class => "active_select"}%>
									</div>	
									<div class="derivative <%="invisible" if !created%>">
										<span><%= t("Allow_modifications") %></span>
										<%=builder.select :derivative, options_for_select([[t("no"), 0],[t("yes"),1],[t("yes_but share alike"),2]],[get_license(form.license.derivative, form.license.license_condition)]) , {}, {:disabled => created ? false:true, :class => "active_select"}%>
									</div>	
									<%= link_to info_types_path do %>
										<%= image_tag(form.license.license_icon, :class => "licenses_image", :data_value => form.right_id) %>
									<% end %>
								</div>
							</div>
						<% end %>
						<div class= "author <%="invisible" if !created%>">
									<span><%= t("Are you the original author")%></span>
									<%= f.label :author, t("yes") %>
									<%= f.radio_button :author, 'true', :checked => (form.author == nil) ? true : false,:class => "choose_author", :disabled => created ? false:true %>
									<%= f.label :author, t("no") %>
									<%= f.radio_button :author, 'false', :checked => (form.author != nil) ? true : false,:class => "choose_author", :disabled => created ? false:true %>
						</div>
						<div class="show_name_edition <%="invisible" if form.author.nil?%>">
							<div class="name_edition <%="invisible" if !created%>">
										<%= f.text_field :author_name, :class => "author_name",:placeholder => t("Insert_complete_name"), :value => form.author, :style => created ? "background-color: #eee" : "",:disabled => !created ? true: false%>
							</div>
							<div class="name_edition <%="invisible" if !created%>">
										<%= f.text_field :author_URL, :class => "URL_edition",:placeholder => t("Insert_author_URL"), :value => form.author_URL, :style => created ? "background-color: #eee" : "", :disabled => !created ? true: false %>
							</div>
						</div>
					
						<div class= "author_attribution <%= if created then "invisible" else if form.right_id == 8 then "invisible" end end %>">
								<div>
									<span> <b><%=t("This_work")%></b></span>
								</div>
								
								<% if form.source_id.nil?%> <!-- El recurso es no clonado-->
									<%if form.author.nil?%> <!-- El autor original es el usuario que subió ese recurso-->
										<p><%=t("This_work_1")%> "<%=link_to form.title, show_activity_path(form.id), :target => "_blank",:class => "original_title attribution_title"%>" 
											<%=t("This_work_5")%> <%=link_to(attributions[form.id.to_s]["modified_license_name"].first.full_license_name == "unknown" ? t("unknown") : attributions[form.id.to_s]["modified_license_name"].first.full_license_name, attributions[form.id.to_s]["url_license_modified"], :target => "_blank", :class => "original_license attribution_license")%> <%=t("This_work_3")%><%=link_to form.user.profile.first_name+' '+form.user.profile.last_name,user_path(form.user.id),:target => "_blank",:class => "user_author"%></p>
									<%else%> <!-- El autor original es el especificado en el author input-->
										<p><%=t("This_work_1")%> "<%=link_to form.title,show_activity_path(form.id), :target => "_blank",:class => "original_title attribution_title" %>" <%=t("This_work_5")%> 
											<%=link_to attributions[form.id.to_s]["modified_license_name"].first.full_license_name == "unknown" ? t("unknown") : attributions[form.id.to_s]["modified_license_name"].first.full_license_name , attributions[form.id.to_s]["url_license_modified"], :target => "_blank", :class => "original_license attribution_license"%> <%=t("This_work_3")%><%=link_to form.author, ext_link(form.author_URL), :target => "_blank",:class => "user_author"%></p>
									<%end%>
								<% else %> <!-- El recurso es clonado-->
									<%if !attributions[form.id.to_s]["original_element"].author.nil?%> <!-- El autor original es el que aparece en el input del autor en el recurso original-->
										<p><%=t("This_work_1")%> "<%=link_to form.title, show_activity_path(form.id), :target => "_blank",:class => "modified_title attribution_title"%>" <%=t("This_work_2")%> "<%=unless attributions[form.id.to_s]["original_element"].nil? then link_to(attributions["original_element"].title,show_activity_path(form.source_id),:class => "original_title") end%>" <%=t("This_work_3")%> <%=unless attributions[form.id.to_s]["original_element"].nil? then unless attributions[form.id.to_s]["original_element"].author_URL.nil? then link_to(attributions[form.id.to_s]["original_element"].author, ext_link(attributions[form.id.to_s]["original_element"].author_URL), :target => "_blank", :class => "original_author") else attributions[form.id.to_s]["original_element"].author end end%>
											<%=t("This_work_4")%> <%=link_to attributions[form.id.to_s]["original_license_name"].first.full_license_name, attributions[form.id.to_s]["url_license"], :target => "_blank", :class => "original_license"%>.""<%=link_to form.title, show_activity_path(form.id), :target => "_blank",:class => "modified_title attribution_title"%>"" <%=t("This_work_5")%> <%= link_to attributions[form.id.to_s]["modified_license_name"].first.full_license_name == "unknown" ? t("unknown") : attributions[form.id.to_s]["modified_license_name"].first.full_license_name, attributions[form.id.to_s]["url_license_modified"],:target => "_blank", :class => "modified_license attribution_license"%> <%=t("This_work_3")%> <%=link_to form.user.profile.first_name+' '+form.user.profile.last_name,user_path(form.user.id),:target => "_blank",:class => "user_author"%></p>
									<%else%>
										<!-- El autor ha clonado su propio recurso -->
										<p><%=t("This_work_1")%> "<%=link_to form.title, show_activity_path(form.id), :target => "_blank",:class => "modified_title attribution_title"%>" <%=t("This_work_2")%> "<%= unless attributions[form.id.to_s]["original_element"].nil? then link_to(attributions[form.id.to_s]["original_element"].title,show_activity_path(form.source_id), :class => "original_title") end%>" <%=t("This_work_3")%> <%=unless attributions[form.id.to_s]["original_element"].nil? then link_to(attributions[form.id.to_s]["original_element"].user.profile.first_name+' '+attributions[form.id.to_s]["original_element"].user.profile.last_name, user_path(attributions[form.id.to_s]["original_element"].user.id), :target => "_blank", :class => "original_author") end%>
											<%=t("This_work_4")%> "<%=link_to attributions[form.id.to_s]["original_license_name"].first.full_license_name == "unknown" ? t("unknown") : attributions[form.id.to_s]["original_license_name"].first.full_license_name, attributions[form.id.to_s]["url_license"], :target => "_blank", :class => "original_license"%>"."<%=link_to form.title, show_activity_path(form.id), :target => "_blank",:class => "modified_title attribution_title"%>"<%=t("This_work_5")%> <%=link_to attributions[form.id.to_s]["modified_license_name"].first.full_license_name == "unknown" ? t("unknown") : attributions[form.id.to_s]["modified_license_name"].first.full_license_name, attributions[form.id.to_s]["url_license_modified"],:target => "_blank", :class => "modified_license attribution_license" %> <%=t("This_work_3")%> <%=link_to form.user.profile.first_name+' '+form.user.profile.last_name,user_path(form.user.id),:target => "_blank",:class => "user_author"%>
										</p>
									<%end%>
								<% end %>
						</div>
					
					<% end %>
					
					<%= render :partial => "/layouts/html/input_licenses", :locals => {:vector_licenses => vector_licenses[form.id.to_s],:element => form }%>

				</div>
	 
			</div>
			<div id="title_and_description" class="left small-7 columns">
				<div class="title_container">
					<%= f.text_field :title, :class => "updateable focusable", :disabled => created ? false:true, :placeholder => t("title"), :style => created ? "background-color: #eee" : "" %>
				</div>
				<div class="inline description description_container">
					<%= f.text_area :description, size: "100x6", :class => "updateable focusable", :disabled => created ? false:true, :placeholder => t("Description") %> 
				</div>
				<div class="keywords">
			<%= f.label :keywords, t("keywords")%>
			<% if !current_user.nil? && (current_user.id == form.creator_id) %>
				<div class="keyword_input_container">
					<%= text_field_tag :keyword,nil, {:class => created ? "keyword_input updateable focusable" : "keyword_input updateable focusable invisible", :disabled => created ? false:true, :placeholder => t("keywords"), :style => created ? "background-color: #eee" : ""} %>
				</div>
			<% end %>
			<div class="keywords_container">
				<% form.keywords.each do |keyword| %>
					<div id="keyword_<%= keyword.id%>"class="keyword_box"><%= image_tag("/images/icons/Black/cancel-circle.svg", :class => created ? "delete_keyword" : "delete_keyword invisible")%><span><%= keyword.keyword %></span></div>
				<% end %>
			</div>
		</div>
			</div>
	</div>
	
	
	<hr />
	
	<% unless defined?(contents) && contents %>
		
		<hr />
		
		
	</div>
	<div id="informacionficha" class="small-4 columns">
		<div class="row">
			<%= render :partial => "layouts/html/info_element_box", :object => @element, :as => :element %>
		</div>
		<div class="row">	
			<%= render :partial => "layouts/html/info_paradata", :object => @element, :as => :element %>
		</div>
	</div>
	<% end %>

	<div class="box_structure">
		<div class= "content_template contents move_right" data-id="<%= form.id.to_s%>" data-type="<%= form.type.downcase %>" >
			<%= render :partial => "boxes/html/box", :collection => form.template.boxes.sort_by{|e| e[:position]}, :locals => {:f => f, :created => created, :element => form, :table_view => false} %>	
		</div>
	</div>

	<div class="clear"></div>

	<% if defined?(experience) && experience %>
		<div class="records records_container">
			<div class="select_record_type">
				<%= image_tag("/images/icons/White/image2.svg", :class => "records record_icon images add_record invisible", :data_type => "image")%>
				<%= image_tag("/images/icons/White/video.svg", :class => "records record_icon videos add_record invisible", :data_type => "video")%>
				<%= image_tag("/images/icons/White/file.svg", :class => "records record_icon documents add_record invisible", :data_type => "document")%>
				<%= image_tag("/images/icons/White/code.svg", :class => "records record_icon snippets add_record invisible", :data_type => "snippet")%>				
				<%= image_tag("/images/icons/White/thumbs-up.svg", :class => "records record_icon positive_comments add_record invisible", :data_type => "positive_comment")%>
				<%= image_tag("/images/icons/White/thumbs-up2.svg", :class => "records record_icon negative_comments add_record invisible", :data_type => "negative_comment")%>
				<%= image_tag("/images/icons/White/paragraph-justify.svg", :class => "records record_icon free_texts add_record invisible", :data_type => "free_text")%>
				<%= image_tag("/images/icons/White/bulb.svg", :class => "records record_icon ideas add_record invisible", :data_type => "idea")%>
				<p class="evidences"><%= t("Evidences") %></p>
				<p class="annotations"><%= t("Observations") %> </p>
			</div>
			<div class="record_box_container">
			<% unless form.experience_element_records.first.blank? %>
				<% 
					#AQUI RENDERIZARÉ TODOS LOS RECORDS QUE TENGA ESTE ELEMENTO
				%>
				<%= render :partial => "/experiences/html/records", :collection => form.experience_element_records.first.element_records.where(:removed => false).order("created_at DESC") %>
			<% end %>
			</div>
		</div>
	<% end %>
	
<% end %>

<% unless (defined?(contents) && contents) %>
	<%= render :partial => "layouts/html/share_buttons", :object => @element, :as => :element %>

	<div id = "email_button">
		<%= image_tag("/images/icons/Black/mail2.svg", :width => 18, :class => "share_content_by_email") %>
		<div class="form_share_email invisible">
			<% if defined?(popup) && popup %>
				<%= form_tag(:controller => params[:controller], :action => "shareByEmail", :method => "POST", :popup => "true") do%>
					<ul>
						<%= text_field_tag :share_email, params[:share_email], placeholder: t('Mail_to_share') %>
					</ul>
					<%= submit_tag(t("Mail_share_button"))%>
				<%end %>
			<% else %>
				<%= form_tag(:controller => params[:controller], :action => "shareByEmail", :method => "POST") do%>
					<ul>
						<%= text_field_tag :share_email, params[:share_email], placeholder: t('Mail_to_share') %>
					</ul>
					<%= submit_tag(t("Mail_share_button"))%>
				<%end %>
			<% end %>						
		</div>
	</div>
<% end %>


<div class="resources subcategorie_top contents" value="false" data-type="activity">
	<div class="resources_section_header">
		<div id="resources_action_bar_<%= form.id.to_s %>" class="resources_action_bar a-left">
			<input type="hidden" data-view="mini">
			<%= image_tag("/images/icons/White/plus.svg", :class => created ? "add_resources new subcategorie_icon":"add_resources new invisible subcategorie_icon", :value => "resources") %>
			<%= image_tag("/images/icons/White/search.svg", :class => created ? "search_resources abre_popup subcategorie_icon":"search_resources abre_popup invisible subcategorie_icon", :value => "resources", :"data-info" => form.type+";"+form.id.to_s)%>
			<%= image_tag("/images/icons/White/images.svg", :class => "list_view_icon subcategorie_icon", :value => "resources", :"data-info" => form.type+";"+form.id.to_s)%>
			<ul class="dropdown new_resources" style="display:none;">
				<li class="add_new_element" data-info="<%= form.type%>;<%= form.id.to_s%>" data-type="Content_new"><%= t("document")%></li>
				<li class="add_new_element" data-info="<%= form.type%>;<%= form.id.to_s%>" data-type="Application_new"><%= t("application")%></li>
				<li class="add_new_element" data-info="<%= form.type%>;<%= form.id.to_s%>" data-type="Device_new"><%= t("device")%></li>
				<li class="add_new_element" data-info="<%= form.type%>;<%= form.id.to_s%>" data-type="Event_new"><%= t("trip")%></li>
				<li class="add_new_element" data-info="<%= form.type%>;<%= form.id.to_s%>" data-type="Collaborator_new"><%= t("guest")%></li>
			</ul>
		</div>
		<div class="resources_title a-right">
			<span><%= t("resources") %></span>
		</div>
	</div>
	<div class="resources_section_body">
		<% collection =  form.applications.where(:removed => false).order("created_at DESC")+form.devices.where(:removed => false).order("created_at DESC")+form.contents.where(:removed => false).order("created_at DESC")+form.events.where(:removed => false).order("created_at DESC")+form.collaborators.where(:removed => false).order("created_at DESC") %>
		<div id="resources_mini_view_<%= form.id.to_s %>" class="resources_mini_view">
			<%= render :partial => "/layouts/html/mini_view",:collection => collection, :locals => {:type => "resources", :created => created} %>
		</div>
		<div class="clear"></div>
		<div id='resources_list_view_<%= form.id.to_s %>' class="invisible">
			<!--%= render :partial => "resources/html/form", :collection => collection, :locals => {:contents => true, :created => created} %-->
		</div>
	</div>
</div>
<% if defined?(contents) && contents %>
	</div>
<% end %>

<% if defined?(popup) && popup %>
	</div>
<% end %>
