<%= render :partial => "application/html/navigation", :locals => {:page => "info_page"} %>

<div id="content_container" class="content_index">
	<div class= "information">
	   <span><%= t("Before")%></span><br><br>
		<p><%= t("Before_P1") %></p>
		</br></br>
		<p><%= t("Before_P2")%></p>
		</br>	
		
		<div class = "content_circle">
			<div class= "circle">
				<p1><%= t("Before_P2_1")%></p1>
			</div>
			<ul1>
				<li><%= t("Before_I1_1") %></li>
				<li><%= t("Before_I1_2") %></li></br>
			</ul1>
		</div>	
		
		
		<div class = "content_circle">
			<div class= "circle">
				<p1><%= t("Before_P2_2")%></p1>
			</div>
			<ul1>
				<li><%= t("Before_I2_1") %></li>
				<li><%= t("Before_I2_2") %></li>
			</ul1>
		</div>	
		
		
		<div class = "content_circle">
			<div class= "circle">
				<p1><%= t("Before_P2_3")%></p1>
			</div>
			<ul1>
				<li><%= t("Before_I3_1") %></li>
				<li><%= t("Before_I3_2") %></li>
				<li><%= t("Before_I3_3") %></li>
			</ul1>
		</div>	
		
		<div class = "content_circle">
			<div class= "circle">
				<p1><%= t("Before_P2_4")%></p1>
			</div>
			<ul1>
				<li><%= t("Before_I4_1") %></li>
				<li><%= t("Before_I4_2") %></li></br>
			</ul1>
		</div>	
		<div class= "clear"></div>
			
	</div>	
</div> <!-- CONTENT -->