<%= render :partial => "application/html/navigation", :locals => {:page => "info_page"} %>

<div id="content_container" class="content_index">
	<div class= "information">
		<span><%= t("Paradata_general")%></span>
		</br></br>
		<p><%= t("Paradata_general_P1") %></p>
		</br>
		
		<ul>
			<li><b><%= t("Paradata_general_P2_1") %>: </b><%= t("Paradata_general_P2_2") %></li></br>
			<li><b><%= t("Paradata_general_P3_1") %>: </b><%= t("Paradata_general_P3_2") %></li></br>
			<li><b><%= t("Paradata_general_P4_1") %>: </b><%= t("Paradata_general_P4_2") %></li></br>
			<li><b><%= t("Paradata_general_P5_1") %>: </b><%= t("Paradata_general_P5_2") %></li></br>
		</ul>
		
	</div>	
</div> <!-- CONTENT -->
		
		
		
		<div class="clear"></div>
	</div>	
</div> <!-- CONTENT -->